body{
    box-sizing: border-box;
    margin: 0;
}
.logo{
    padding: 20px;
    width: 300px;
}
.entrance-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(248, 229, 250, 0.666);
}
.options > button{
    background-color:transparent;
    border:none;
    display:flex;
    align-items: center;
    cursor:grab;
}
.options > button:hover{
    color : rgb(207, 203, 203)
}
.options{
    align-items: center; 
    display: flex;
    padding-right: 40px;
    
    /* border: 2px solid black; */
}
.login{
    font-size: large;
    
    margin-left: 20px;
    margin-right: 40px;
}
.signup{
    font-size: large;
    margin-right: 20px;
}
.bodycover{
  background-image: url('/assets/BGfemale.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  position: relative;
}

.textbox{
  display: flex;
  flex-direction: column;
  width:45%;
  position:relative;
  top: 50px;
  transform: translateY(25%);
  margin-right: 50px;
  height: 75%;
}

.textmain{
  color: white;
  display: flex;
  height: auto;
  font-family: Montserrat;
  font-size: 60px;
  margin: 0px;
  margin-bottom: 10px;
}

.textsub{
  color: white;
  display: flex;
  font-family: Montserrat;
  font-size: 35px;
  margin: 0px;
}

.bookride{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.bookridebutton{
  width: 375px;
  height: 100px;
  background: rgba(160, 32, 240, 0.75);
  opacity: 0.6;
  border-radius: 500px;
  font-family: 'Montserrat';
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
}