.form-group{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:0;
    
}

.title-text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
