.Interface_login{
  width: 50%;
  height: 50%;
  transform: translate(50%,20%);
  background: rgba(160, 32, 240, 0.75);
  opacity: 0.6;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group{
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:0;
}

.login-input{
  width: 60%;
  height: 6%;
  margin-top: 50px;
  border-radius: 10px;
}
.login-button{
  width:150px;
  height: 50px;
  margin:40px;
  background-color: #9d00fe;
  opacity: 1;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}