.page{
    /* display: flex;
    flex-direction: column; */
    position: relative;
    width: 0;
    height: 0;
    border: none;
}

.form{
    position: absolute;
    left: 30px;
    top: 10px;
    z-index: 1;
}
