
.form-group{
    display: flex;
    flex-direction: column;

    background-color: antiquewhite;
    justify-content: flex-start;
    width: 500px;
    height: 500px;
    border-radius: 4%;
}
.ride-creation-body{
    display: flex;
    flex-direction: column;
}
.ride-creation-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    background-color: #A8B5E0;

    
}
.ride-header-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25%;
    border: none;
    background-color: #A8B5E0;
    
}
.ride-header-button-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25%;
    border-bottom: solid black 5px;
    border-top: none;
    border-left : none;
    border-right : none;
    background-color: #A8B5E0;

}
.ride-header-button-text{
    font-size: large;
    margin:0
}
.ride-creation-body-header{
    width: 350px;
    padding-bottom: 20px;
}
.img{
    padding-top: 10px;
    padding-bottom: 5px;
    width: 30px;
}
.ride-creation-input{
    width :80%;
    height: 25px;
    
}
.ride-creation-time{
    width : 50%;
    margin-bottom: 20px;
    
}
.ride-creation-misc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.ride-creation-model{
    width: 20%;
    height: 20px;
}

.ride-creation-submit{
    border-radius: 30%;
    margin-top: 50px;
    margin-left: 35%;
    width: 40%;
    height:40%
}

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btn1{

}
