.Interface_signup{
  width: 50%;
  height: 50%;
  transform: translate(50%,20%);
  background: rgba(160, 32, 240, 0.75);
  opacity: 0.6;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-input{
  width: 60%;
  height: 6%;
  margin-top: 30px;
  border-radius: 10px;
}

.signup-button{
  width:150px;
  height: 50px;
  margin:40px;
  background-color: #9d00fe;
  opacity: 1;
  border-radius: 100px;
}